﻿@model IEnumerable<QuanLyNhaHang.Models.MonAn>
@{
    ViewBag.Title = "DatMon";
    var stt = 1;
}

<h2>DatMon</h2>

<div class="container">
    <table class="table">
        <tr>
            <th>STT</th>
            <th>Tên món</th>
            <th>Hình ảnh</th>
            <th>Giá</th>
            <th>Số lượng</th>
            <th>Hành động</th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>@stt</td>
                <td>@item.TenMon</td>
                <td><img src="@item.HinhAnh" , class="glyphicon-picture" /></td>
                <td>@item.Gia</td>
                <td><input type="text" id="SL_@item.Id" /></td>
                <td>
                    <button onclick="ThemMonAn(@item.Id)" , class="drp-buttons">Add</button>
                    <button onclick="XoaMonAn(@item.Id)" , class="drp-buttons">Remove</button>
                </td>
            </tr>
            stt++;
        }
    </table>

    <br />
    <div>
        <a href="@Url.Action("Create","HoaDons")" class="text-right">Thanh toán</a>
    </div>
    


</div>



<script>
    function ThemMonAn(MonAnID) {
       
        var _sl = document.getElementById("SL_" + MonAnID).value;
        $.ajax({
            url: '@Url.Action("ListMonChon", "MonAns")',
            method: "GET",
            data: { MonAnID: MonAnID, isAdd: true, sl: _sl },
            success: function (data) {
                console.log(data);
                alert(data.Message)
            },
            error: function (xhr) {
                alert('error');
            }
        });
    }

    function XoaMonAn(MonAnID) {

        var _sl = document.getElementById("SL_" + MonAnID).value;
        $.ajax({
            url: '@Url.Action("ListMonChon", "MonAns")',
            method: "GET",
            data: { MonAnID: MonAnID, isAdd: false, sl: _sl },
            success: function (data) {
                console.log(data);
                alert(data.Message)
            },
            error: function (xhr) {
                alert('error');
            }
        });
    }
</script>

