﻿@model  User
@using QuanLyNhaHang.Models
@{
    ViewBag.Title = "Home Page";
}

        <!-- Content Wrapper. Contains page content -->
            <!-- Content Header (Page header) -->
            <div class="content-header">
                <div class="container-fluid">
                    <div class="row mb-2">
                        <div class="col-sm-6">
                            <h1 class="m-0">Trang chủ</h1>
                        </div><!-- /.col -->
                        
                    </div><!-- /.row -->
                </div><!-- /.container-fluid -->
            </div>
            <!-- /.content-header -->
            <!-- Main content -->
            <div class="container">
                <div class="container">
                    <!-- Small boxes (Stat box) -->
                    <div class="row">
                        <div class="col-lg-3 col-6">
                            <!-- small box -->
                            <div class="small-box bg-info">
                                <div class="inner">
                                    <h3>1</h3>
                                    <p>New Orders</p>
                                </div>
                                <a href="@Url.Action("DatMon","MonAns")" class="small-box-footer">Đặt món</a>
                            </div>
                        </div>
                        <!-- ./col -->

                        <div class="col-lg-3 col-6">
                            <!-- small box -->
                            <div class="small-box bg-success">
                                <div class="inner">
                                    <h3>2</h3>
                                    <p>Dish Management</p>
                                </div>
                                <a href="@Url.Action("Index", "MonAns")" class="small-box-footer">Quản lý món ăn</a>
                            </div>
                        </div>
                        <!-- ./col -->

                        <div class="col-lg-3 col-6">
                            <!-- small box -->
                            <div class="small-box bg-warning">
                                <div class="inner">
                                    <h3>3</h3>
                                    <p>Bill Management</p>
                                </div>
                                <a href="@Url.Action("Index","HoaDons")" class="small-box-footer">Thanh toán </a>
                            </div>
                        </div>
                        <!-- ./col -->

                        <div class="col-lg-3 col-6">
                            <!-- small box -->
                            <div class="small-box bg-danger">
                                <div class="inner">
                                    <p>User Management</p>
                                </div>
                                <div class="icon">
                                    <i class="ion ion-pie-graph"></i>
                                </div>
                                <a href="@Url.Action("Index","Users")" class="small-box-footer">Quản lý người dùng</a>
                            </div>
                        </div>
                        <!-- ./col -->

                        <div class="col-lg-3 col-6">
                            <!-- small box -->
                            <div class="small-box bg-primary">
                                <div class="inner">
                                    <p>Menu Management</p>
                                </div>
                                <a href="@Url.Action("Index", "MonAns")" class="small-box-footer">Quản lý thực đơn</a>
                            </div>
                        </div>
                        <!-- ./col -->
                    </div>
                    <!-- /.row -->
 
                </div><!-- /.container-fluid -->
            </div>
            <!-- /.content -->

  

   

