﻿@{
    ViewBag.Title = "Home Page";
}

<head>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/Content/all.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <!-- Tempusdominus Bootstrap 4 -->
    <link rel="stylesheet" href="~/Conten/tempusdominus-bootstrap-4.min.css">
    <!-- iCheck -->
    <link rel="stylesheet" href="~/Content/icheck-bootstrap.min.css">
    <!-- JQVMap -->
    <link rel="stylesheet" href="~/Content/jqvmap.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="~/Content/adminlte.min.css">
    <!-- overlayScrollbars -->
    <link rel="stylesheet" href="~/Content/OverlayScrollbars.min.css">
    <!-- Daterange picker -->
    <link rel="stylesheet" href="~/Content/daterangepicker.css">
    <!-- summernote -->
    <link rel="stylesheet" href="~/Content/summernote-bs4.min.css">
    <!-- jQuery -->
    <script src="~/JS/jquery.min.js"></script>
</head>

<body class="hold-transition sidebar-mini layout-fixed">
    <div class="wrapper">
        <!-- Navbar -->
       
        <!-- /.navbar -->
        <!-- Main Sidebar Container -->
        <aside class="main-sidebar sidebar-dark-primary elevation-4">
            <!-- Brand Logo -->
            <a href="@Url.Action("Index","Home")" class="brand-link">

                <span class="brand-text font-weight-light">Nhà hàng gì đó</span>
            </a>

            <!-- Sidebar -->
            <div class="sidebar">
                <!-- Sidebar user panel (optional) -->
                <div class="user-panel mt-3 pb-3 mb-3 d-flex">
                    <div class="image">

                    </div>
                    <div class="info">
                        <a href="@Url.Action("Details","Users",new { id = Session["id"]})" class="d-block"> @Session["name"]</a>
                    </div>

                </div>

                <!-- SidebarSearch Form -->
                <div class="form-inline">
                    <div class="input-group" data-widget="sidebar-search">
                        <input class="form-control form-control-sidebar" type="search" placeholder="Search" aria-label="Search">
                        <div class="input-group-append">
                            <button class="btn btn-sidebar">
                                <i class="fas fa-search fa-fw"></i>
                            </button>
                        </div>
                    </div>
                </div>

                <!-- Sidebar Menu -->
                <nav class="mt-2">
                    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                        <!-- Add icons to the links using the .nav-icon class
                             with font-awesome or any other icon font library -->
                        <li class="nav-item">
                            <a href="@Url.Action("Index","Home")" class="nav-link">
                                <p>
                                    Trang chủ
                                </p>
                            </a>
                        </li>
                       

                        <li class="nav-item">
                            <a href="@Url.Action("DatMon","MonAns")" class="nav-link">
                                <p>
                                    Đặt món
                                </p>
                            </a>
                        </li>

                        <li class="nav-item">
                            <a href="@Url.Action("Index","HoaDons")" class="nav-link">
                                <p>
                                    Thanh toán
                                    <span class="badge badge-info right"></span>
                                </p>
                            </a>
                        </li>


                        <li class="nav-item">
                            <a href="@Url.Action("LogOut","Users")" class="nav-link">
                                <p>
                                    Đăng xuất
                                </p>
                            </a>
                        </li>
                    </ul>
                </nav>
                <!-- /.sidebar-menu -->
            </div>
            <!-- /.sidebar -->
        </aside>

        <!-- Content Wrapper. Contains page content -->
        <div class="container" , style="padding-left:171px">
            @RenderBody()
        </div>
        <!-- /.content-wrapper -->
        <footer class="main-footer">
            <strong>Copyright &copy; 2014-2021 <a href="https://adminlte.io">AdminLTE.io</a>.</strong>
            All rights reserved.
            <div class="float-right d-none d-sm-inline-block">
            </div>
        </footer>

        <!-- Control Sidebar -->
        <aside class="control-sidebar control-sidebar-dark">
            <!-- Control sidebar content goes here -->
        </aside>
        <!-- /.control-sidebar -->
    </div>
    <!-- ./wrapper -->
    <!-- jQuery UI 1.11.4 -->
    <script src="~/JS/jquery.min.js"></script>
    <!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
    @*<script>
        $.widget.bridge('uibutton', $.ui.button)
    </script>*@
    <!-- Bootstrap 4 -->
    <script src="~/JS/bootstrap.bundle.min.js"></script>
    <!-- ChartJS -->
    <script src="~/JS/Chart.min.js"></script>
    <!-- Sparkline -->
    <script src="~/JS/sparkline.js"></script>
    <!-- JQVMap -->
    <script src="~/JS/jquery.vmap.min.js"></script>
    <script src="~/JS/jquery.vmap.world.js"></script>
    <!-- jQuery Knob Chart -->
    <script src="~/JS/jquery.knob.min.js"></script>
    <!-- daterangepicker -->
    <script src="~/JS/moment.min.js"></script>
    <script src="~/JS/daterangepicker.js"></script>
    <!-- Tempusdominus Bootstrap 4 -->
    <script src="~/JS/tempusdominus-bootstrap-4.min.js"></script>
    <!-- Summernote -->
    <script src="~/JS/summernote-bs4.min.js"></script>
    <!-- overlayScrollbars -->
    <script src="~/JS/jquery.overlayScrollbars.min.js"></script>
    <!-- AdminLTE App -->
    <script src="~/JS/adminlte.js"></script>
    <!-- AdminLTE for demo purposes -->
    <script src="~/JS/demo.js"></script>
    <!-- AdminLTE dashboard demo (This is only for demo purposes) -->
    <script src="~/JS/dashboard.js"></script>
</body>

