﻿@model  User
@using QuanLyNhaHang.Models

@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Login</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="~/src/favicon.ico" />
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Content/bootstrap.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Content/font-awesome.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Content/icon-font.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Content/animate.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Content/hamburgers.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Content/animsition.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Content/select2.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Content/daterangepicker.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Content/util.css">
    <link rel="stylesheet" type="text/css" href="~/Content/main.css">
    <!--===============================================================================================-->
</head>
<body>

    <div class="limiter">
        <div class="container-login100" style="background-image: url(~/src/bg-01.jpg)">
            <div class="wrap-login100 p-t-30 p-b-50">
                <span class="login100-form-title p-b-41">
                    Account Login
                </span>
                @using (Html.BeginForm("Login", "Users", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "login100-form validate-form p-b-33 p-t-5", role = "form" }))
                {
                    <span class="login100-form-title">Member Login</span>


                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="wrap-input100 validate-input" data-validate="Enter username">
                        @Html.TextBoxFor(m => m.Email, new { @class = "input100", @placeholder = "E-Mail", @type = "email" })
                        @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                    </div>
                    <div class="wrap-input100 validate-input" data-validate="Enter Password">
                        @Html.PasswordFor(m => m.Password, new { @class = "input100", @placeholder = "Password" })
                        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                    </div>
                    <div class="clear"></div>
                    <div class="container-login100-form-btn m-t-32">
                        <input type="submit" class="login100-form-btn" value="login" name="login"/> <br />
                        <br />
                        <div>
                            <a  href="@Url.Action("LoginFacebook","Users")" class="login100-form-btn">Log in with facebook</a>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>


    <div id="dropDownSelect1"></div>

    <!--===============================================================================================-->
    <script src="~/JS/jquery-3.2.1.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/JS/animsition.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/JS/popper.js"></script>
    <script src="~/JS/bootstrap.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/JS/select2.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/JS/moment.min.js"></script>
    <script src="~/JS/daterangepicker.js"></script>
    <!--===============================================================================================-->
    <script src="~/JS/countdowntime.js"></script>
    <!--===============================================================================================-->


</body>
</html>