﻿@model QuanLyNhaHang.View_Model.HoaDonVM

@{
    ViewBag.Title = "Details";
    int stt = 1;
}

<h2>Details</h2>

<div>
    <h4>HoaDon</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.MaBan)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaBan)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TongTien)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TongTien)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GioBatDau)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GioBatDau)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GioKetThuc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GioKetThuc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.isPaid)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.isPaid)
        </dd>
    </dl>
    <table class="table">
        <tr>
            <th>STT</th>
            <th>Tên món</th>
            <th>Đơn giá</th>
            <th>Số lượng</th>
            <th>Thành tiền</th>
        </tr>
        <tr>
            @foreach(var item in Model.HoaDonChiTietVM)
            {
                stt++;
                <td>@stt</td>
                <td>@item.TenMon</td>
                <td>@item.DonGia</td>
                <td>@item.SL</td>
                <td>@item.ThanhTien</td>
            }
        </tr>
    </table>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
